body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}


.header {
    font-size: 11px;
    font-weight: 400;
    background: #131313;  
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.wrapp {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.tel {
    text-decoration: underline;
    color: #E3B873;
}


@media screen and (max-width: 1300px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }

    .header-navigation, .header button {
        display: none;
    }
    
}

/*------------------------------HERO--------------------------------------------------*/

.hero {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    }

.title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    color: #FFFFFF;
    padding-top: 194px;
    margin: 0;
    }

.colortext {
    color: #E3B873;
}

.hero-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 504px;
    text-align: left;
    margin: 0;
    padding-top: 19px;
}

.buttons {
    padding-top: 41px; 
    margin: 0;
}

.button-empty {
    background: none;
    border-radius: 2px;
    outline: 0;
    border: 1px solid #FFFFFF;
    padding: 19px 41px;
    color: white;
    text-transform: uppercase;
}

.button-color {
    padding: 19px 41px;
    margin-right: 20px;
}


@media screen and (max-width: 1300px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .button-color {
        width: 338px;
        margin-bottom: 26px;
        
    }
    .button-empty {
        width: 338px;
    }
    .hero-wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .hero-text {
        text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
        max-width: none;
    }
  }


/*------------------------------projects-------------------------------------------------*/

.projects {
    background: #131313;
    height: 1074px;
    
}

.city {
    display: flex;
    justify-content: end;
    padding-top: 107px;
}

.city-name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60px;
}

.orange {
    color: #E3B873;
    text-decoration: underline;
}

.projects-wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
}

@media screen and (min-width: 1300px) {
    .mobile-image  {
        display: none;
    } 
 }

.projects-cont {
    margin-right: 50px;
}

.projects-text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    font-size: 14px;
    color: #FFFFFF;  
    padding-bottom: 42px;
    max-width: 442px;
    margin: 0;
    padding-top: 34px;
}
.subtitle {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 37px;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin: 0;
}
.projects-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.review-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    margin: 0;
}

.review-text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 34px;
}
.review-slider {
    padding-top: 48px;
}
.left {
    margin-right: 29px;
}
.points {
    margin-right: 29px;
}



@media screen and (max-width: 1300px) {
    .city, .projects-img, .review-slider {
        display: none;
    } 
    .mobile-image {
        visibility: inherit;
    }
    .subtitle, .projects-text {
        text-align: center;
    }
    .mobile-image {
        position: relative;
        padding-bottom: 36px;
    }
    .sliderleft {
    position: absolute;
    top: 0;
    right: 85%;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 200;
    }
    .sliderright {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 40%;
        margin: auto;
        z-index: 200;
    }
    .projects {
        height: auto;
    }

    .projects-wrapp {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

 }



/*------------------------------VIDEO-------------------------------------------------*/


.video {
    margin-top: -298px;
    z-index: 2;
}

.online {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online h3 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


.online p {
    width: 681px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 37px;
    font-size: 18px;
    text-align: center;
    color: #363636;    
}

.online-cam {
margin: 0 auto;
display: inline-block;
padding-top: 13px;
padding-bottom: 31px;
}

@media screen and (min-width: 1300px) {
    .video-set {
        width: 817px;
        height: 434px;
        position: relative;
    }
    .videomini {
        display: none;
    }
    .buttonmini {
        display: none;
    }
}


.video-img {
    position: relative;
}

.video-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.play {
    z-index: 25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.longline {
    padding-top: 62px;
}

.label {
    cursor: pointer;
  }

.video-input {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-top: 91px;
}

.inp {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 14px;
    color: #363636;
    margin-right: 50px;
}

.video-label {
    display: flex;
    flex-direction: column;
    margin-right: 34px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}


  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }



  @media screen and (max-width: 1300px) {
    .video {
        margin: 0 auto;
        background: #131313;
    }
    .video-image {
        display: none;
    }

    .videomini {
        display: inline;
    }
    .play {
        max-width: 37px;
    }

    .video-img {
        position: relative;
        display: inline-block;
        margin: 0 auto;
    }
    .video-set {
        width: 100%;
        position: relative;
    }
    .online h3 {
        font-size: 22px;
    }
    .online p {
        color: #FFFFFF;
        font-size: 11px;
        line-height: 24px;
        width: 80%;
    }
    .video-input {
        display: flex;
        flex-direction: column;
    }
    .video-label {
        color: rgba(255, 255, 255, 0.5);
    }
    .first-checkbox  {
        color: white;
        padding-top: 28px;
        padding-bottom: 62px;
    }
    .video-label:first-of-type {
        padding-bottom: 63px;
    }
    .video .button {
        display: none;
    }
    .buttonmini {
        background-color: #E3B873;
        border-radius: 2px;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: 0;
        outline: 0;
        color: white;
        padding: 20px 124px;
        text-transform: uppercase;
        margin-bottom: -28px;
    }

    .inp {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom:1px solid rgba(255, 255, 255, 0.15);
        font-family: 'Nunito Sans';
        font-weight: 400;
        font-style: normal;
        line-height: 23px;
        font-size: 14px;
        color: white;
        margin-right: 50px;
        background-color: #131313;
    }
    
    
    .inp::-webkit-input-placeholder { color:white; }
    .inp::-webkit-input-placeholder {color: white; }

 }


  /*------------------------------TYPES----------------------------------------------------*/


 .types-title {
    text-align: center;
    padding-top: 147px;
    padding-bottom: 13px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #181818;
 } 

 .tools {
    display: flex;
    justify-content: center;
    padding-bottom: 31px;
 }

 .types-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 152px;
 }

 .types-item img {
    
 }

.test {
    display: flex;
    flex-direction: column;
}


 .types-desc {
    width: 330px;
    height: 286px;
    margin-top: -127px;
    margin-left: 31px;
    background-color: #FFFFFF;
 }

 .types-desc h4 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    color: #363636;
    margin: 0;
    padding-bottom: 13px;
    padding-top: 25px;
    padding-left: 34px;
 }

 .types-desc ul {
    margin: 0;
    padding-left: 47px;
    padding-bottom: 23px;
 }

 .types-desc li {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    font-size: 13px;
    color: #959595;
 }

 .price {
    display: block;
    padding: 10px 15px;
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: white;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
 }


 @media screen and (max-width: 1300px) {
    .types-title {
        font-size: 22px;
        padding-top: 58px;
        
    }
    .types-items {
        display: flex;
        flex-direction: column;
    }
    .test {
        margin-bottom: 89px;
        align-items: center;
        align-content: center;
    }
 }

 /*------------------------------------------------------------------*/
 /*------------------------------------------------------------------*/

 .request-wrapp {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 38px;
 }

.request-items {
    background: url(../images/bg2.png); 
    background-repeat: no-repeat;
    background-size: contain;
}

.request-item {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 60px;
}
    
.circle {
    width: 51.76px;
    height: 51.76px;
    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 8px solid #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    color: #FFFFFF;
 }

.request-item p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    font-size: 14px;
    color: #363636;
    text-align: left;
}

.request-input {
    background-color: #131313;
    width: 506px;
    height: 509px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    padding-left: 49px;
    padding-right: 49px;
}

.request-label {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
}

.request-label:first-of-type {
    padding: 0;
}

.request-label:last-of-type {
    padding-bottom: 16px;
}


.request-input .inp {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 14px;
    color: white;
    margin-right: 50px;
    background-color: #131313;
}


.inp::-webkit-input-placeholder { color:white; }
.inp::-webkit-input-placeholder {color: white; }

.request-input h4 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 38px;
}

.request-input .request-label {
    color: rgba(255, 255, 255, 0.5);
}

.request-input .button {
    padding-top: 16px;
}

.request .button {
    margin-top: 39px;
    float: right;
}


@media screen and (max-width: 1300px) {
    .request {
        display: none;
    }
}


/*-------------------------PIG-------------------------*/

.pig-wrapp {
    display: flex;
    justify-content: flex-end;
    padding-right: 330px;
    margin-bottom: 254px;
}

.pig-wrapp p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    font-size: 18px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

@media screen and (max-width: 1300px) {
    .pig {
        display: none;
    }
}

/*-------------------------------------------------------*/

.fantasies {
    background: url(../images/bg3.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
    position: relative;
}

.fantasies-filter {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
}

.fantasies-wrapp {
    display: flex;
    justify-content: space-between;
}

.fantasies-items {
    width: 411px;
    padding-left: 99px;
    margin-right: 77px;
    z-index: 130;
}

.fantasies-items h2 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 37px;
    font-size: 27px;
    color: #E3B873;
    text-transform: uppercase;
    margin: 0;
    padding-top: 137px;
    padding-bottom: 47px;
}

.fantasies-items ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.fantasies-items li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 120;
    margin-bottom: 8px;
    transition: all linear 0.2s;
}

.fantasies-items li:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    display: inline-block;
}

.fantasies-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 120;
    margin-left: 0;
}

.fantasy1 {
    margin-top: -50px;
    margin-right: 43px;
    padding-bottom: 37px;
}

.fantasy2 {
    margin-top: -112px;
}

.fantasy4 {
    margin-top: -345px;
}

@media screen and (min-width: 1300px) {
    .fantasy-mini {
        display: none;
    }
}



@media screen and (max-width: 1300px) {
    .fantasies-images, .fantasies-filter, .fantasies-items ul {
        display: none;
    }

    .fantasies {
        background: #FFFFFF;
        height: 100%;
        margin-top: -90px;
    }
    .fantasies h2 {
        padding-top: 0;
    }
    .fantasy-mini {
        position: relative;
        display: inline-block;
        margin-bottom: -100px;
        z-index: 150;
    }
    .fantasies-wrapp {
        display: flex;
        flex-direction: column;
        margin-bottom: -20px;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;       
    }
    .right {
        left: 80%;
    }
}

/*------------------------------------------------------------*/


.client {
    padding-top: 50px;
}

.client-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 354px;
    padding-top: 39px;
 }

 
 .metr, .days {

    display: block;
    padding: 10px 15px;
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: white;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
 }

.client h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

 .client p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
    font-size: 18px;
    text-align: center;
    color: #363636;
 }

 .hands {
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }

.client-item {
    max-width: 376px;
    padding: 12px 32px 5px 20px;
}

 .client-item img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
 }

 .client-item h4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
 }
 

 .client-item p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    text-align: left;
 }

.client-box {
    display: flex;
    justify-content: flex-start;
    max-height: 54px;
} 

.client-box p {
    display: inline-block;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 0.5em;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.metr img, .days img {
    width: 32px;
    height: 32px;
    border-radius: 0%;
    margin-right: 15px;
}

.metr {
    width: 135px;
   
    
    margin-right: 2px;
}

.days {
    width: 158px;
}

@media screen and (max-width: 1300px) {
    .client {
        display: none;
    }
}


/*----------------------------------------------------------*/

.contact {
    background: url(../images/bg4.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 953px;
    position: relative;
}

.contact-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    z-index: 100;
}

.contact-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 120;
}

.contact-wrapp h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 120;
    padding-top: 52px;
    padding-bottom: 26px;
    margin: 0;
}

.icons {
    padding-bottom: 30px;
}

.icons, .map {
    z-index: 120;
}

.contact-input {
    background-color: #131313;
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    padding-left: 181px;
    padding-right: 181px;
    z-index: 120;
    margin-top: -222px;
    width: 883px;
    height: 445px;
    
}

.contact-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.contact-label {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 50px;
}

.contact-inp {
    display: inline-block;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 14px;
    background-color: #131313;
}



.contact-inp::-webkit-input-placeholder{ 
   color:white; 
   max-width: 231px;
}
.contact-inp::-webkit-input-placeholder {
    color: white; 
    max-width: 231px;
}

.contact-label {
    display: flex;
    flex-direction: column;
}

.contact-input h4 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 34px;
    padding-bottom: 46px;
}

.contact-input .button {
    padding-top: 16px;
}

.third-checkbox {
    padding-top: 34px;
    padding-bottom: 50px;
    text-align: center;
}

.contact-button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 20px 54px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1300px) {
    .map-mini {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .contact-name {
        display: flex;
        flex-direction: column;
    }
    .contact-overlay {
        display: none;
    }
    .contact {
        background: #131313;
    }
    .contact-input {
        background-color: #131313;
        margin-top: 10px;
        width: 100%;
        height: 100%; 
        z-index: 120;
    }
    .contact-button {
        padding: 18px 144px;
        margin-bottom: 38px;
    }
    .contact-inp::-webkit-input-placeholder{ 
        max-width: 100%;
     }
     .contact-inp::-webkit-input-placeholder {
        max-width: 100%;
     }
     .map {
        display: none;
     }
     .contact h4 {
        font-family: 'Yeseva One';
        font-weight: 400;
        font-style: normal;
        line-height: 28px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        padding-top: 175px;
     }
     footer {
        display: none;
     }
}



footer {
    background-color: #181818;
    font-size: 11px;
}
